{% extends "materiais/base.html" %}
{% load static %}

{% block content %}

<main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="{% static 'img/aluminum-door.jpg' %}" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Pedido tipo E-Commerce</h1>
                <p>Pedido tipo E-Commerce</p>
                <p><a class="btn btn-lg btn-primary" href="{% url 'materiais:produto_list' %}" role="button">Pedido tipo E-Commerce</a></p>
              </div>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</main>
{% endblock %}
