{% extends 'materiais/base.html' %}

{% load static %}

{% block content %}
<html>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  <body class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Informe suas credenciais</h1>
    <form class="form-signin" method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <a href="{% url 'reset_password' %}">Esqueceu a Senha?</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
</html>
{% endblock %}
