{% extends 'materiais/base.html' %}

{% load static %}

{% block content %}
<html>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  <body class="text-center">
    <form class="form-signin">
        {% csrf_token %}
          <i class="fas fa-sign-in-alt fa-2x"></i>
          <h1 class="h3 mb-3 font-weight-normal">Informe suas credenciais</h1>
          <label for="username" class="sr-only">Usuário</label>
          <input type="text" id="username" class="form-control" placeholder="Informe o nome do usuário" required autofocus>
          <label for="password" class="sr-only">Senha</label>
          <input type="password" id="password" class="form-control" placeholder="Informe a senha" required>
          <!--<div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>-->
          <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
</html>
{% endblock %}

