{% extends 'materiais/base.html' %}

{% block title %}Esqueceu a Senha{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Esqueceu a Senha</h3>
                <p>Procure no seu E-mail um para trocar sua Senha. Se não receber o E-mail dentro de poucos minutos,
                    verifique se o E-mail está na pasta de Spam.</p>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Volta para a tela de Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
