Olá,


Alguém solicitou uma mudança de senha pelo endereço de email {{ email }}.

Siga o link abaixo:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Caso você tenha esquecido seu usuário da Contabilidade: {{ user.username }}

Se por acaso, ao clicar sobre o link não funcionar, por favor copie e cole a URL
em uma nova janela do browser.

Se você recebeu esse email por engano, é provável que outro usuário entrou com
o seu endereço de email indevidamente enquanto tentava mudar a senha. Se você não
iniciou essa solicitação, você não precisa fazer nada e pode tranquilamente descartar
essa mensagem.

Obrigado,

A Equipe da Contabilidade
Usesoft do Brasil