{% extends "materiais/base.html" %}
{% load static %}
{% load l10n %}

{% block title %}Detalhes do Produto{% endblock %}


{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


    <div align="right">
        <a class="nav-link" href="{% url 'materiais:produto_list' %}">
            <i class="fas fa-arrow-circle-left"></i> Voltar
        </a>
    </div>

    <ul>
        <li><h4>Produto: {{ produto.produto }} - {{ produto.descricao}}</h4></li>
        <li><h4>Preço: {{ produto.preco_venda}} </h4></li>


    </ul>



{% endblock %}
