{% extends 'materiais/base.html' %}
{% load l10n %}

{% block content %}

<div class="col-md-offset-2"> <!-- Header -->
    <!-- Left Contato Info -->
    <div class="panel panel-default">
        <div class="panel-body">
            {% if participante.id %}
                <h4>Edita o Registro de {{participante.razao_social}}</h4>
            {% else %}
                <h4>Cria um Novo Cliente</h4>
            {% endif %}

            <div align="right">
                <a class="nav-link" href="{% url 'faturamento:participante_list' %}">
                     <i class="fas fa-arrow-circle-left"></i> Voltar
                </a>
            </div>
        </div>
    </div>


    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'faturamento/form-template.html' %}
        <hr>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4 btn-group">
                <button type="submit" class="btn btn-success">Gravar</button>
                <a href="{% url 'faturamento:participante_list' %}" class="btn btn-primary">Voltar</a>
            </div>

        </div>
    </form>

</div>


{% endblock %}