{% extends "materiais/base.html" %}
{% load static %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <div class="card border-dark mb-3" style="background-color: #7386D5;">
        <div class="card-body">
            <h5 class="card-title">Novo Pedido</h5>

            <form>
                <div class="form-group">

                    <p><h5><i class="fas fa-building"></i> Cliente</h5></p>
                    <hr>
                    <div class="row">
                    <input class="form-control mr-sm-2"  name="q" type="text" value="{{ request.GET.q }}" placeholder="Digite o nome ou CNPJ/CPF do cliente e selecione" aria-label="Search">
                    </div>
                    <div class="btn btn-outline-dark">
                        <a href="{% url 'faturamento:participante_add' %}">Novo Cliente</a>
                    </div>
                    <div class="btn btn-outline-dark">
                    <a href="{% url 'faturamento:participante_list' %}">Listar todos clientes</a></div>
                    <br><br>
                    <p><h5><i class="fas fa-box"></i> Produtos</h5></p>
                    <hr>
                    <div class="row">
                    <input class="form-control mr-sm-2"  name="q" type="text" value="{{ request.GET.q }}" placeholder="Digite o código ou o nome do produto para adicionar ao pedido" aria-label="Search">
                    </div>
                    <div class="btn btn-outline-dark disabled">
                        <a href="#">Novo Produto</a>
                        <!--<a href="{% url 'materiais:produto_add' %}">Novo Produto</a>-->
                    </div>
                    <div class="btn btn-outline-dark">
                        <a href="{% url 'materiais:produto_list' %}">Listar todos produtos</a>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
{% endblock %}