{% extends "materiais/base.html" %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">

    <div class="card-group">

        <div class="card" align="center">
            <h5 style="margin-center"><strong>Lista de Pedidos Web</strong></h5>
            <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Filtrar Pedidos Web"><a href="{% url 'materiais:search_pedidoweb' %}"> Filtro <i class="fas fa-filter"></i> </a></button>
            <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Criar Novo Pedido"><a href="{% url 'materiais:order_create' %}"> Criar Pedido <i class="fas fa-plus"></i> </a></button>
        </div>

        <div class="card" align="center">
             <!-- Pesquisa -->
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Pesquisa" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="tooltip" data-placement="top" title="Pesquisar" type="submit"> <i class="fas fa-search"></i></button>
            </form>

        </div>

        <div class="card" align="center">
            <!-- pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-sm justify-content-end">

                {% if object_list.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}&q={{ request.GET.q }}"><i class="fas fa-chevron-circle-left"></i> Anterior</a></li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">
                            Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                            <span class="sr-only">(current)</span>
                    </span>
                </li>

                {% if object_list.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}&q={{ request.GET.q }}"><i class="fas fa-chevron-circle-right"></i> Próxima</a></li>
                {% endif %}

              </ul>
            </nav>
            <!--end of pagination-->
        </div>

    </div>
    <!--end of card-group-->
</div>

<div class="container">

    {% if object_list %}
        <div class="row">
            {% for pedidoweb in object_list %}
                <div class="col-sm-12">
                    <div class="card border-dark mb-3" style="background-color: #eee;">
                        <div class="card-body">
                            <h5 class="card-title">#{{ pedidoweb.id }} emitido por {{ pedidoweb.vendedor }} em {{pedidoweb.data_pedido}}</h5>
                            <p class="card-text">{{ pedidoweb.participante }}</p>
                            <p class="card-text">{{ pedidoweb.tipo_de_pagamento }}</p>
                            <p class="card-text">{{ pedidoweb.prazo_de_pagamento }}</p>
                            <p class="card-text">{{ pedidoweb.total_produtos }}</p>
                            <!-- Detalhes -->
                            <a href="{% url 'materiais:pedidoweb_detail' pedidoweb.id %}"
                                class="btn btn-outline-primary btn-sm" role="button" data-toggle="tooltip" data-placement="top"
                                title="Exibe detalhes do pedido">
                                <i class="fas fa-info-circle"></i> Detalhes
                            </a>
                            <!-- Altera -->
                            <a href="{% url 'materiais:pedidoweb_edit' pedidoweb.id %}"
                                class="btn btn-outline-primary btn-sm" role="button" data-toggle="tooltip" data-placement="top" title="Edita o Pedido">
                                <i class="fas fa-pencil-alt"></i> Edita
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <h2>Nenhum registro encontrado para a pesquisa {{ request.GET.q }} </h2>
        <div align="right">
            <a class="nav-link" href="{% url 'materiais:pedidoweb_list' %}">
                <i class="fas fa-arrow-circle-left"></i> Voltar
            </a>
        </div>
    {% endif %}

</div>


{% endblock %}
